
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gksudo karoshi-set-local-password
Name=Change Administrator Password
Icon=/opt/karoshi/linuxclientsetup/images/change-password.png
