
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gksudo -D 'Change Administrator Password' karoshi-set-local-password
Name=Change Administrator Password
Icon=karoshi-change-password
