
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gksudo /opt/karoshi/linuxclientsetup/utilities/setup
Name=Setup Client
Icon=/opt/karoshi/linuxclientsetup/images/smalllogo.xpm
