<div class="header">
  <div class="outer">
    <div class="inner">
      <img src="icons/karoshi.png" width="68" height="58" class="icon">
    	<h1 class="slidetitle">Easy desktop navigation</h1>
    </div>
  </div>
</div>

<div class="main">
  <div class="textbox">
  	<p>
      The LinuxSchools client uses xubuntu-desktop as it's base for the desktop
      environment. The simple and familiar desktop allows for efficient use
      by all users. Customise your desktop by adding and removing panels.
    </p>
  </div>
  <div class="desktopshowcase">
    <div class="left">
      <div class="largeicon">
        <img src="icons/xfce.png"/>
        <p>XFCE Desktop Environment</p>
      </div>
    </div>

    <div class="right">
      <img class="screenshot" src="images/screenshot.png"/>
    </div>
  </div>
</div>
