<div class="header">
  <div class="outer">
    <div class="inner">
      <img src="icons/karoshi.png" width="68" height="58" class="icon">
    	<h1 class="slidetitle">Help and Support</h1>
    </div>
  </div>
</div>

<div class="main">
  <div class="support">
    <div class="left">
      <p>
        Checkout the documentation, this covers most common errors and questions.<br><br>
        Feel free to post on the forum, our active community and developers will try to get back to you as soon as possible.<br><br>
        We have an IRC channel, you can ask here.<br><br>
        Found an issue that you would like to report to our developers, checkout the forum or flag the issue on Gitlab.<br><br>
      </p>
      <div class="screenshot">
        <img src="images/screenshot4.png"/>
        <p>The Linux Schools Forum</p>
      </div>
    </div>
    <div class="right">
      <div class="textbox_alt">
        <p>
          Forum and Documentation:<br>
          http://www.linuxschools.com<br><br>
          Github:<br>
          @the-linux-schools-project<br><br>
          IRC:<br>
          freenode.net #karoshi<br><br>
        </p>
      </div>
      <div class="screenshot">
        <img src="images/screenshot5.png"/>
        <p>Gitlab: Karoshi-Client</p>
      </div>
    </div>
  </div>
</div>
